body {
    font-family: var(--font);
}

button{
    display: inline-flex;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: max-content;
    height: max-content;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--light);
    box-shadow: var(--default-shadow);
}

button:hover{
    cursor: pointer;
}

input{
    border: 1px solid var(--info);
    border-radius: 5px;
}
  
input:focus{
    outline: var(--info) solid 1px;
}