html,
body,
#app {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font);
}

button {
    display: inline-flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: max-content;
    height: max-content;
    border: none;
    border-radius: 10px;
    background-color: var(--dark-grey);
    color: var(--light);
    box-shadow: var(--default-shadow);
}

button:hover {
    cursor: pointer;
}

button.--btn-icon {
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
}

button.--outline {
    box-shadow: none;
    background: none;
    border: solid 2px var(--middle-grey);
}

input {
    border: 1px solid var(--info);
    border-radius: 10px;
    width: 100%;
}

input:focus {
    outline: var(--info) solid 1px;
}